<!-- related -->
<div class="related-container">

    <aside class="related" id="related">


        <div class="inner group related-subsection">

            <h2 id="parent-subsection">Number plates and vehicle registration</h2>


            <nav role="navigation" aria-labelledby="parent-subsection">
                <ul>

                    <li>
                        <a href="/request-information-from-dvla">Request information about a vehicle's registered keeper from DVLA</a>
                    </li>

                    <li>
                        <a href="/contact-the-dvla">Contact DVLA</a>
                    </li>

                    <li>
                        <a href="/vehicle-identity-check">Vehicle Identity Checks (VIC)</a>
                    </li>

                    <li>
                        <a href="/vehicle-registration">Vehicle registration</a>
                    </li>

                    <li>
                        <a href="/vehicle-registration-schemes-for-the-motor-trade">Vehicle registration schemes for the motor trade</a>
                    </li>


                    <li class="related-topic"><a href="/browse/driving/number-plate">More <span class="visuallyhidden">in Number plates and vehicle registration</span></a></li>

                </ul>
            </nav>
        </div>


        <div class="inner group related-section">

            <h2 id="parent-section">Driving and transport</h2>


            <nav role="navigation" aria-labelledby="parent-section">
                <ul>

                    <li>
                        <a href="/check-mot-status">Check the MOT status of a vehicle</a>
                    </li>

                    <li>
                        <a href="/check-mot-history-vehicle">Check the MOT history of a vehicle</a>
                    </li>


                    <li class="related-topic"><a href="/browse/driving">More <span class="visuallyhidden">in Driving and transport</span></a></li>

                </ul>
            </nav>
        </div>

        <div class="inner group">
            <a class="return-to-top" href="#content">Return to top ↑</a>
        </div>
    </aside>

</div>
<!-- end related -->
