<div class="content-block">
    <div class="inner">

        <section class="intro">
            <div class="get-started-intro">
                <p>Check online to find out what information the Driver and Vehicle Licensing Agency (<abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr>) holds about a vehicle. </p>

                <p>You’ll need the vehicle’s make and registration number.</p>

            </div>
            <p id="get-started" class="get-started group">
                <a href="https://www.vehicleenquiry.service.gov.uk" rel="external" data-transaction-slug="get-vehicle-information-from-dvla" class="button" role="button">Start now</a>
            </p>
        </section>

        <section class="more">
            <div class="js-tabs nav-tabs">
                <ul>
                    <li class="active"><a href="#before-you-start">Before you start</a></li>

                    <li><a href="#other-ways-to-apply">Other ways to apply</a></li>
                </ul>
            </div>

            <div class="js-tab-content tab-content">
                <div class="js-tab-pane tab-pane" id="before-you-start">

                    <div class="application-notice info-notice">
                        <p>This is a ‘beta’ service - find out <a href="/help/beta">what this means for you</a>.</p>
                    </div>

                    <h2>Information you can get</h2>

                    <p>You can find out various things about the vehicle, including:</p>

                    <ul>
                        <li>when its current vehicle tax expires</li>
                        <li>when its MOT expires</li>
                        <li>the date it was first registered</li>
                        <li>
                            <abbr title="Statutory Off Road Notification">SORN</abbr> status</li>
                        <li>colour</li>
                        <li>engine size </li>
                        <li>year of manufacture</li>
                        <li>
                            <abbr title="carbon dioxide">CO2</abbr> emissions</li>
                        <li>current vehicle tax rate</li>
                    </ul>

                    <h2>Information about registered keepers</h2>

                    <p>You must write to DVLA to request information about the <a href="/request-information-from-dvla">current or previous registered keeper of a vehicle</a>.</p>


                </div>


                <div class="js-tab-pane tab-pane" id="other-ways-to-apply">
                    <h2>Use the old service</h2>

                    <p>You can use the <a rel="external" href="https://www.taxdisc.direct.gov.uk/EvlPortalApp/app/home/intro?skin=businesslink">old online service.</a></p>

                    <p>You’ll need the vehicle’s make and registration number.</p>

                    <h2>By phone</h2>

                    <p><a href="/contact-the-dvla/y/vehicle-registration">Contact <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr></a> to get the vehicle’s:</p>

                    <ul>
                        <li>date of first registration</li>
                        <li>year of manufacture</li>
                        <li>engine size</li>
                        <li>
                            <abbr title="carbon dioxide">CO2</abbr> emissions</li>
                        <li>colour</li>
                        <li>current vehicle tax rate</li>
                    </ul>


                </div>
            </div>

        </section>


    </div>
</div>